@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;600&display=swap');

*{

    font-family: 'Rubik', sans-serif;

}
body{
    margin: 0px;
    padding: 0px;
    background : linear-gradient(to right, #cc2b5e  ,#753a88);
}

header{

    text-align: center;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.headerBorder{
    border-bottom: 2px solid yellow;
    width: 65px;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 70vh;

}

input{
    outline: none;
    border: none;
}
.textInput{
    background-color: white;
    padding: 10px 35px;
    border-radius: 40px;
}
.border-red{
 border: 3px solid #FF5252;
}
.border-green{
    border: 3px solid  #76FF03;
}

.textInput input{
    font-size: 30px;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    color:  #cc2b5e;
    font-weight: 700;
}
.mainBtn{
    font-size: 30px;
    padding: 10px 35px;
    border-radius: 40px;
    border: none;
    margin-top: 30px;
    width: 100%;
    cursor: pointer;
    background : linear-gradient(to right, #cc2b5e  ,#753a88);
    border: 2px solid white;
    color: white;

}
.mainBox .u-word, .status{
    color: white;
    margin-top: 15px;
    text-align: center;
    font-size: 20px;
}
.u-word{
    font-weight: 700;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.status-red{

    color: #FF5252;
}

.status-green{

    color: #76FF03;
}

.status{
    letter-spacing: 20px;
    text-align: center;
}

@media (max-width : 600px){

    .textInput input{
        font-size: 20px;
    }
    .mainBtn{
        font-size: 20px;
    }
    .mainBox .u-word, .status{
        font-size: 17px;
    }

}